<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.community.yedam.sample.service.SampleMapper">

	<select id="sampleSelectList" resultType="co.community.yedam.member.service.MemberVO">
		SELECT * FROM SAMPLE
	</select>
	
	<!-- 동적 sql예시. id만 들어오면 찾아주고, 둘 다 들어오면 로그인 처리해주는 거 -->
	<select id="sampleSelect" resultType="co.community.yedam.member.service.MemberVO">
		SELECT * FROM SAMPLE
		WHERE SAMPLE_ID = #{sampleId}
		<if test="samplePassword != null">
			AND SAMPLE_PW = #{samplePw}
		</if>
	</select>
	
	<insert id="sampleInsert" parameterType="co.community.yedam.member.service.MemberVO">
		INSERT INTO sample
		VALUES (#{sampleId}, #{samplePw}, #{sampleName}, #{sampleDate})
	</insert>
	
	<update id="sampleUpdate" parameterType="co.community.yedam.member.service.MemberVO">
		UPDATE sample
		SET SAMPLE_PW = #{samplePw},
			SAMPLE_NAME = #{sampleName}, 
			sample_DATE = #{sampleDate}
		WHERE sample_ID = #{sampleId}
	</update>
	
	<delete id="sampleDelete" parameterType="co.community.yedam.member.service.MemberVO">
		DELETE SAMPLE
		WHERE SAMPLE_ID = #{sampleId}
	</delete>
	
	<select id="isIdCheck" resultType="boolean">
		SELECT CASE WHEN COUNT(SAMPLE_ID) > 0 THEN 0 ELSE 1 END AS ID
		FROM SAMPLE
		WHERE SAMPLE_ID = #{id}
	</select>
	
</mapper>